#btnVideo { background-image: url(../images/btn_video_8.png) !important; }
#btnMusic { background-image: url(../images/btn_music_8.png) !important; }
#btnShows { background-image: url(../images/btn_shows_8.png) !important; }
#btnContact { background-image: url(../images/btn_contact_8.png) !important; }